---
import Logo from "@components/Logo.astro";
import Social from "@components/Social.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import ChatIcon from "@components/ChatIcon.astro"
import { markdownify } from "@lib/utils/textConverter";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;
---
<ChatIcon />
<footer class="footer bg-[#111111] bg-body bg-[url('/images/backgrounds/brilliant.png')] ">
  <div class="">
    <div class="gx-5 row pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <a class="link link-underline link-underline-black text-white" href="/" data-no-swup></a><img class="logo-footer" src="/images/logos/o-light.svg" width="80px" height="100px" alt="ONE Logo" >
      </a><p class="mt-6"><a class="link link-underline link-underline-black text-white" href="/" data-no-swup>
          ONE </a><br>
          {footer_description}
        </p>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <p class="footer-heading">Connect</p>

        <Social source={social} className="social-icons mt-4 lg:mt-6" />
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <p class="footer-heading">Legal</p>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                <a class="link link-underline link-underline-black text-white"" href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <p class="footer-heading">Contact</p>
        <ul>
          <li class="mb-2">{location}</li>
          <li class="mb-2">
            <a class="mb-2 link link-underline link-underline-black text-white" href={`mailto:${email}`}
              >{email}</a>
          </li>
          <li>
            <a class="link link-underline link-underline-black text-white" href={`tel:${phone}`}
              >{phone}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center"
    >
      <p class="content text-text" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>